---
import Header from '../components/Header.astro';
import CursorFollower from '../components/CursorFollower.astro';
import '../styles/global.css';
import Preloader from '../components/Preloader.astro';

interface Props {
	title: string;
	description?: string;
	image?: string;
	url?: string;
}

const { 
	title = "Kuaki - Proyectos",
	description = "Proyectos escolares y personaes de Kuaki.",
	image = "/img/portadas/kuaki_portada_grande.jpg",
	url = "https://github.com/vramirezm07/alter-kuaki.git"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- favicon -->
		<link rel="icon" type="image/svg+xml" href="src/assets/kuaki_icon_.png" />
		<meta name="apple-mobile-web-app-title" content={title} />
		<link rel="manifest" href="src/assets/kuaki_icon_.png" />
		
		<!-- Basic Metadata -->
		<title>{title}</title>
		<meta name="description" content={description} />
		
		<!-- Open Graph Metadata -->
		<meta property="og:title" content={title}>
		<meta property="og:description" content={description}>
		<meta property="og:image" content={image}>
		<meta property="og:url" content={url}>
		<meta property="og:type" content="website">
		
		<!-- Twitter Card Metadata -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content={description}>
		<meta name="twitter:image" content={image}>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	</head>
	<body>
		<Preloader />
		<CursorFollower />
		<Header />
		<main>
			<slot />
		</main>
	</body>
</html>

<style>
	html,
	body {
		margin: 0 auto;
		max-width: 100%;
		max-height: 100%;
	}

	main {
		padding: 2rem;
	}

	/* Estilos para el cursor personalizado */
	* {
    cursor: url('img/cursor_final.png'), auto;
  }

  /* Cambiar el cursor al pasar sobre elementos interactivos */
  a:hover, button:hover, .menu-toggle:hover {
    cursor: url('img/cursor_final.png'), pointer;
  }
</style>

